body {
  font-family: 'Inter', sans-serif;
  background: rgb(40, 42, 54);
  color: rgb(248, 248, 242);
}
.searchContainer{
  text-align: center;
  padding: 10px;
}

table {
  margin: auto;
  background: rgb(54, 57, 72);
  border-radius: 0.25rem;
  border-collapse: collapse;
}
th {
  padding: 5px;
}
td {
  padding: 0 10px;
  border: 1px solid #50555c
}
td svg {
  cursor: pointer;
  padding-left: 10px;
}
td svg.filterHideIcon:hover {
  color: #9c0303;
}
td svg.filterShowIcon:hover {
  color: #0c68d2;
}
.harmfull {
  color: #fac8c8 !important;
}
.beneficial {
  color: #cbfbcb !important;
}
#filterInput {
  min-width: 248px;
}
#filterDropdown {
  display: none;
  position: absolute;
  background-color: rgb(26 27 34);
  min-width: 248px;
  right: calc(50% - 124px);
  max-height: 70%;
  overflow-y: auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1;
  list-style-type: none;
  padding: 5px 0;
  margin: 0;
  cursor: pointer;
}

#filterDropdown li {
  padding: 5px;
}

#filterDropdown li:hover {
  background-color: #747474;
}

#filterInput:focus + #filterDropdown {
  display: block;
}
#filtersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#filtersContainer div {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
.filterConditionInclude {
  border: 1px solid #0c68d2;
}
.filterConditionExclude{
  border: 1px solid #9c0303;
}
#filtersContainer div:hover {
  border-color: #4a4a4a;
}