body {
  font-family: 'Inter', sans-serif;
  background: rgb(40, 42, 54);
  color: rgb(248, 248, 242);
}
.searchContainer{
  text-align: center;
  padding: 10px;
}

table {
  margin: auto;
  background: rgb(54, 57, 72);
  border-radius: 0.25rem;
  border-collapse: collapse;
}
th {
  padding: 5px;
}
td {
  padding: 0 10px;
  border: 1px solid #50555c
}
td.tableFooter {
  text-align: center;
}
td svg {
  cursor: pointer;
  padding-left: 10px;
}
td svg.filterHideIcon:hover {
  color: #9c0303;
}
td svg.filterShowIcon:hover {
  color: #0c68d2;
}
.harmfull {
  color: #fac8c8 !important;
}
.beneficial {
  color: #cbfbcb !important;
}
span.magnifier {
  padding-left: 5px;
}
.magnifier .harmfull {
  color: #ae5151 !important;
}
.magnifier .beneficial {
  color: #699f69 !important;
}
.magnifier svg {
  padding-left: 0;
}
#filterInput {
  min-width: 248px;
}
#filterDropdown {
  display: none;
  position: absolute;
  background-color: rgb(26 27 34);
  min-width: 248px;
  right: calc(50% - 124px);
  max-height: 70%;
  overflow-y: auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1;
  list-style-type: none;
  padding: 5px 0;
  margin: 0;
  cursor: pointer;
}

#filterDropdown li {
  padding: 5px;
}

#filterDropdown li:hover {
  background-color: #747474;
}

#filterInput:focus + #filterDropdown {
  display: block;
}
#preFilterContainer,
#originPreFilterContainer,
#filtersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#originPreFilterContainer div,
#preFilterContainer div,
#filtersContainer div {
  padding: 5px;
  margin: 5px;
}
#originPreFilterContainer label,
#preFilterContainer input,
#preFilterContainer label,
#filtersContainer div {
  cursor: pointer;
}
.filterConditionInclude {
  border: 1px solid #0c68d2;
}
.filterConditionExclude{
  border: 1px solid #9c0303;
}
#filtersContainer div:hover {
  border-color: #4a4a4a;
}
footer {
  text-align: center;
  padding: 10px;
}
#loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
#loading-screen .spinner {
  position: relative;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  border: 4px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}